footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
  height: 4.5vh;
  width: 100vw;
  min-height: 35px;
  background-color: #000000;
}

footer a i {
  background-color: #309c6d;
  color: #ffffff;
  padding: 4px;
  border-radius: 10px;
  margin: 0 20px 0 20px;
}
