footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
  height: 7vh;
  width: 100vw;
  min-height: 35px;
  background-color: #000000;
}

footer a i {
  background-color: #309c6d;
  color: #ffffff;
  padding: 6px;
  border-radius: 15px;
  margin: 0 20px 0 20px;
}
