.edit_msg_form {
  background-color: hotpink;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70vw;
}

.edit_msg_form input,
.edit_msg_form textarea {
  width: 100%;
  background-color: chartreuse;
}

/* .edit_msg_form textarea {
  height: fit-content;
} */

.button_div {
}
