.projects_page_div {
  display: flex;
  height: 100%;
}

.circular_button.toggle_project_sidebar {
  align-self: flex-start;
  margin-left: 2.5%;
  margin-top: 2%;
}

.show_projects_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-column: 2 / span 12;
  grid-gap: 40px;
  padding: 40px 40px 40px 20px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #000000, -1px -1px 5px rgba(225, 225, 225, 0.2);
}

.card:hover {
  transform: translateY(-5px);
}

.card h1 {
  font-size: 20px;
  align-self: center;
  padding-bottom: 2vh;
}

.users_projects {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.card div div {
  background-color: #57cc99;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 3px 3px 4px #000000, -1px -1px 5px rgba(225, 225, 225, 0.4);
}

@media only screen and (min-width: 1230px) {
  /* .projects_page_div { */
    /* background-color: purple; */
    /* display: flex; */
  /* } */
}

@media only screen and (max-width: 1230px) {
  .projects_page_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
}

@media only screen and (max-width: 1000px) {
  .projects_page_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .cards {
    padding-left: 40px;
  }

  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  .projects_page_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .show_projects_main {
    grid-gap: 20px;
  }
  .cards {
    padding-left: 40px;
  }

  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 501px) {
  .projects_page_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .projects_page_div {
    /* background-color: green; */
    display: flex;
    height: 100%;
  }

  .show_projects_main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    padding-left: 40px;
  }
  .card {
    grid-column-end: span 6;
  }
}
