.splash_main {
  display: flex;
  flex-direction: row;
}

.splash_img_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px - 7vh);
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.splash_img_sec img {
  height: 58vh;
  margin-bottom: 10vh;
}

.splash_text_sec {
  width: 50vw;
}

.splash_text_sec div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  margin: 10%;
  box-shadow: 3px 3px 4px #000000, -1px -1px 3px rgb(225 225 225 / 20%);
}

.splash_text_sec div h1 {
  text-align: center;
  margin-bottom: 2%;
}

.splash_text_sec div p {
  margin-top: 10px;
}

.splash_text_sec div p strong {
  font-size: larger;
  color: rgba(208, 208, 208, 0.7);
}

.splash_text_sec div a {
  align-self: center;
  margin-top: 20px;
}
