.new_project_form {
  border-right: 2px solid black;
  min-height: 100%;
  padding: 40px 20px 40px 40px;
  background-color: rgba(31, 31, 31, 0.8);
}

#new_project_card {
  display: flex;
  align-items: center;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.6);
}

#new_project_card:hover {
  transform: none;
  cursor: default;
}

.new_project h2 {
  width: fit-content;
}

#new_project_card input,
#new_project_card textarea {
  width: 80%;
}

#new_project_card textarea {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
  .new_project_form {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    height: fit-content; 
    border-right: 0;
  }

  #new_project_card {
    height: fit-content;
    min-width: 70vw;
  }

  #new_project_card input,  #new_project_card textarea {
    min-width: 60vw;
  }
}

@media only screen and (max-width: 1000px) {
  #new_project_card {
    width: 90vw;
  }

  #new_project_card input,  #new_project_card textarea {
    width: 80vw;
  }
}
